.modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    padding: 15px 10px 10px 30px;
    font-weight: var(--fw-bold);
    line-height: 1;
}

.modal__icon-close:hover {
    cursor: pointer;
}


.modal__body {
    border-top: 1px solid var(--text-gray);
    border-bottom: 1px solid var(--text-gray);
    padding: 10px 15px 10px 30px;
}

.form-change-password {
    border-radius: 4px;
    border: 1px solid var(--text-gray);
    padding: 30px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex: 1 0 100%;
}

.form-change-password label {
    padding: 10px 16px;
    background-color: var(--text-primary);
    color: #fff;
    line-height: 1.4;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: var(--text-base);
    font-weight: var(--fw-normal);
    flex-grow: 1;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

.form__input {
    flex: 2 0 50%;
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #FFF;
    height: 100%;
    padding: 0 10px;
    outline: none;
    color: var(--text-gray-700);
    font-size: var(--text-base);
    font-weight: var(--fw-normal);
}

.btn-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal__btn {
    padding: 4px 8px;
    font-size: var(--text-base);
    font-weight: var(--fw-normal);
    line-height: var(--leading-snug);
    color: #FFF;
    border-radius: 4px;
    width: 17%
}

.modal__btn.btn-save {
    background-color: #0c8281;
}

.modal__btn.btn-cancel {
    background-color: #CE4F4B;
}

.btn.modal__btn:hover {
    box-shadow: var(--shadow-hover);
}